<!DOCTYPE html>
<html>
<head>
  <title>MySimpleRailsApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>

<nav class="navbar-default navbar fixed-top navbar-inverse" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">

      <a class="navbar-brand" href="#">My Bootstrap Site</a>
    </div>


      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Joe Example</a></li>

      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
t
<div class="alert alert-success" role="alert">This is some alert message</div>

<div class="page-header">
  <h1>A Subtitle</h1>
</div>

<ul class="nav nav-tabs">
  <li role="presentation" class="active"><a href="#">Home</a></li>
  <li role="presentation"><a href="#">Profile</a></li>
  <li role="presentation"><a href="#">Messages</a></li>
</ul>

<ol class="breadcrumb">
  <li><a href="#">Home</a></li>
  <li><a href="#">Categories</a></li>
  <li class="active">Shoes</li>
  <li class="active">Loafers</li>
</ol>

<div class="jumbotron">
  <h1>This is some title</h1>
  <h1 class="lead"><small>And this is some lead text</small></h1>
</div>


<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Some Panel</h3>
  </div>
  <div class="panel-body">
    This is some text.
  </div>
</div>



</body>

</html>
